.corps_e
{
    height: auto;
}
.saintUl {
    margin-left: -50px;
}
.lettre_e1{

    left: 0px;
    margin-bottom:2px;
    height : 50px;
    width: 100%;
    text-align: center;
    vertical-align: middle;

}
.lettre_e1_case{
	height : 50px;
	background: #969696;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    border : solid;
    border-width : 1px;
 text-align: center;
    vertical-align: middle
}

.lettre_e1_case_active{
    height : 50px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    border : solid;
    border-width : 1px;
 text-align: center;
    vertical-align: middle
}

.enigme {
	font-family: 'NettoOT';
    padding: 0;
}
#indices {
    font-family: 'NettoOT';
    font-size: 16px;
    padding: 10px;
    color: rgb(105, 70, 21);
}
.enigme .titreEnigme {
	font-family: 'MasonSansAlternate';
	font-size: 21px;
    margin-bottom: 15px;
    color: #6B4A15;
}
.barreIndice {
    font-family: 'MasonSansAlternate';
    font-size: 21px;
    padding: 10px;
    color: #6B4A15;
}

.modal-title{
    font-family: 'MasonSansAlternate';
    color: rgb(105, 70, 21);
    font-size: 25px;
    font-weight: bold;
}

.modal-body{
    font-family: 'NettoOT', sans-serif;
    color: #000;
    color: rgb(105, 70, 21);
    font-size: 1.15em;
}

.btn{
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'NettoOT', sans-serif;
    color: rgb(105, 70, 21);
}

.enigmes{
    color: rgb(105, 70, 21);
}

.lettre_e7{
    font-size:4rem;
    margin:auto;
}

.pendu{
    font-size:2.5rem;
    margin-bottom: 20px;
}

.pendu .lettre{
    padding-right: 0px;

}

.pendu .col-xs-1, .pendu .col-sm-1, .pendu .col-md-1{
    width: 7%;
}

.lettre_e7 > .lettre{
    padding:0px;
    text-align: center;
    border: 1px solid #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chances{
    display: inline-block;
    color: red;
    font-weight: bolder;
    font-size: 4rem;
}

#e4_case, #e4_lettre {
    padding: 5px;
   
}
#e4_lettre div {
    font-family: "NettoOT";
    font-size: 12px;
    margin-top: 1px;
    width: 100%;
    padding-bottom: 0;
    border: 1px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #EDEDED;
    text-align: center;
    color: #6B4A15;
    font-weight: bolder;
}
#e4_case div{
    margin-top: 1px;
    width: 100%;
    padding-bottom: 0;
    border: 1px solid #5F5F5F;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    color: #6B4A15;

    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

#e4_lettre div.bonneReponse {
    background-color: lawngreen;
}

.tab_e2{
    text-align: center;
    height: auto;
}
.tab_e2_letter {
    height: 200px;
}
input[name="rep_e5"]{
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

input[name="rep_6"]{
    margin-bottom: 20px;
}
.blocPendu {
    height: 150px;
}
.countChanceLabel {
    margin-top: 0px;
    display: inline-block;
}
.countChanceLabel h3 {
    margin-top: 0px;
    display: inline-block;
}

/**
 * CSS MEDIA QUERIES 760px 
 *
 **/
 @media screen and (min-width: 761px) and (max-width: 980px) {

.lettre_e1{


    height : 25px;


}

.lettre_e1_case{

    font-size: 20px;
height: 25px;

}

.lettre_e1_case_active{

    font-size: 20px;
height: 25px;

}
