header, .general_navigation, .sub_navigation, .right-panel{
    font-family: 'Roboto', sans-serif;
}

header, .general_navigation{
    text-align: center;
}

header .inner{
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 18px 12px 22px 12px;
}

header h1{
    font-size: 2.6em;
    font-weight: normal;
    text-transform: uppercase;
}

header h1.sha_title{
    text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
    color: #FFFFFF;
    font-weight: bold;
}

header h2{
    font-weight: normal;
    margin-top: 8px;
}

.general_navigation{
    background-color: #7F8C8D;
    padding: 12px;
}

.general_navigation li, .sub_navigation li{
    display: inline-block;
}

.general_navigation li{
    font-size: 1.2em;
    text-transform: uppercase;
}

.general_navigation li a{
    text-decoration: none;
    color: #D3D3D3;
}
.general_navigation li a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.sub_navigation{
    border-bottom: 2px solid #A7AAAA;
    padding: 8px 0 8px 0;
}

.sub_navigation li:first-child:before{
    content: "//";
    margin-right: 6px;
}

.sub_navigation li:after{
    content : "|";
    margin-left: 6px;
}

.sub_navigation li:last-child:after{
    content: "";
}

.sub_navigation li a{
    color: #2980B9;
    text-decoration: none;
    padding-bottom: 8px;
}

.sub_navigation li a:hover, .sub_navigation li a.active{
    border-bottom: 2px solid #2980B9;
}

.marger_top_20{
    margin-top: 20px;
}

.general_title{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    color: #4B4B4B;
}

.general_section article, .post_section article{
    margin-left: 0.6em;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
}
.post_section article p, .post_section article ul{
    text-align: justify;
    margin: 5px 0 5px 0;
}
.post_section article ul{
    margin-left: 20px;
}
.post_section article img{
    border: 1px solid #7F8C8D;
    padding: 5px;
    background-color: #D3D3D3;
    border-radius: 3px;
    margin: 10px auto;
    display: block;
}
.post_section article p, .post_section article ul li{
    list-style: circle;
}
.general_section article header, .post_section article header{
    text-align: left;
}

.general_section article header time, .post_section article header time{
    color: #ADB5B6;
    font-size: 1em;
    margin-bottom: 6px;
}

.general_section article header h1, .post_section article header h1{
    font-size: 1.5em;
    text-transform: none;
}

.general_section article section, .post_section article section{
    margin-top: 18px;
}

.general_section article section a.pull_right{
    float: right;
}

.general_section article section a.pull_right, .right-panel a, #footer-nav li a, #pagination-nav a{
    color: #2980B9;
    text-decoration: none;
}

.general_section article section a.pull_right:hover, .right-panel a:hover, #footer-nav li a:hover, #pagination-nav a:hover{
    text-decoration: underline;
    color: #ca2f15;
}

.right-panel h2{
    font-size: 1.3em;
}

.right-panel p, .right-panel ul{
    padding: 8px 0 8px 18px;
    font-size: 1.2em;
}

#contact{
    border-bottom: 2px solid #C9C9C9;
    margin-bottom: 12px;
}

#separator{
    border-bottom: 2px solid #a7aaaa;
    position: relative;
    margin-top: 22px;
    margin-bottom: 22px;
}

#separator:after{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a7aaaa;
    border-radius: 100%;
    bottom: -5px;
    box-shadow: 0 0 0 5px #fff;
    content: "";
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 7px;
}

#pagination-nav{
    font-family: 'Roboto', sans-serif;
    margin-top: 28px;
    font-size: 1.2em;
}

#pagination-nav .grid_2:first-child, #pagination-nav ul{
    margin: 0;
}
#pagination-nav ul{
    text-align: center;
}
#pagination-nav .active a, #pagination-nav .active a:hover{
    color: #4B4B4B;
    text-decoration: none;
}

.text-right{
    text-align: right;
}

.text-italic{
    font-style: italic;
}

footer{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 22px;
    color: #4b4b4b;
}

#footer-nav li, #pagination-nav ul li{
    display: inline-block;
}

/****** Form element ****/
form, input{
    font-family: 'Roboto', sans-serif;
}
form{
    font-size: 1.2em;
    color: #4b4b4b;
}


/**** Custom experience contrast & font size ****/

body.font-magn{
    font-size: 20px;
}

body.black_white *{
    background-color: transparent !important;
    color: black !important;
    border-color: black !important;
    text-shadow: none !important;
}

